#
# This file is part of Land Cover Classification System Web Service.
# Copyright (C) 2020 INPE.
#
# Land Cover Classification System Web Service is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.
#

exclude doc/spec
exclude doc/sphinx/_build
exclude docker
exclude .dockerignore

include *.rst
include *.sh
include *.txt
include *.py
include *.yml
include LICENSE
include pytest.ini
recursive-include spec *.json
recursive-include tests *.py
recursive-include spec *.rst
recursive-include spec *.yaml
recursive-include lccs_ws *.json
recursive-include lccs_ws *.py
recursive-exclude doc/sphinx/_build *
recursive-include doc *.bat
recursive-include doc *.css
recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc *.xml
recursive-include doc Makefile
recursive-exclude docker *